{extend name="$base" /}
{block name="resources"}
<style>
    .layui-form-filter .layui-inline{margin-top:.9rem}
    .layui-table[lay-skin=line] th{border-color:#c9cdd0}
    .layui-table[lay-skin=line] th>.layui-table-cell{line-height:50px!important}
    .layui-table[lay-skin=line]{width:unset!important}
    .flex{display:flex}
    .orderinfo-wrapper{margin:-6px -15px}
    .orderinfo-wrapper .item{padding:6px 12px 12px 12px}
    .orderinfo-wrapper .item:not(:last-child){border-bottom:1px solid #eee}
    .orderinfo-wrapper .item .thumb{width:40px;height:40px;margin-right:5px;margin-top:5px}
    .orderinfo-wrapper .item .thumb img{max-width:100%;max-height:100%}
    .orderinfo-wrapper .orderinfo{line-height:1.2rem}
    .orderinfo-wrapper .orderinfo .title{font-size:14px;line-height:1.6rem;color:#111}
    .layui-table-view-1 .layui-table-body .layui-table tr .layui-table-cell{overflow:unset;max-height:unset!important}
    .unitprice-wrapper .unitprice:not(:last-child){border-bottom:1px solid #eee}
    .memberinfo,.unitprice{line-height:1.2rem}
</style>
{/block}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-form-filter">
            <div class="layui-form-item" style="margin-bottom: 0px;">
                <div class="layui-inline">
                    <label class="layui-form-label">记录筛选</label>
                    <div class="layui-input-block">
                        <input type="text" name="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单类型</label>
                    <div class="layui-input-block">
                        <select name="order_type">
                            <option value="">全部</option>
                            {foreach $order_type_list as $order_type}
                            <option value="{$order_type.order_type}">{$order_type.order_type_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单状态</label>
                    <div class="layui-input-block">
                        <select name="order_status">
                            <option value="">全部</option>
                            {foreach $order_status_list as $order_status}
                            <option value="{$order_status.status}">{$order_status.status_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">支付类型</label>
                    <div class="layui-input-block">
                        <select name="pay_type">
                            <option value="">全部</option>
                            {foreach $pay_type_list as $pay_type}
                            <option value="{$pay_type.value}">{$pay_type.title}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="create_time" id="create_time" placeholder=" - " autocomplete="off" class="layui-input" readonly />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="LAY-btn-search">
                        查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="LAY-btn-reset">
                        清空
                    </button>
                </div>
            </div>
        </form>
        <!---->
        <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
    </div>
</div>
{/block}
{block name="script"}
<!-- 工具栏 -->
<script type="text/html" id="table-toolbar">
    <span class="layui-btn-group" style="margin-left: -15px;">
        <button class="layui-btn layui-btn-sm layui-btn-primary layui-border" lay-event="refresh">
            <div data-anim="layui-anim-rotate"><i class="layui-icon layui-icon-refresh"></i></div>
        </button>
    </span>
</script>
<!-- 商品信息 -->
<script type="text/html" id="orderinfo">
    <div class="orderinfo-wrapper">
        {{# d.goods_list.forEach(function(v) { }}
        <div class="item flex">
            {{# if (v.goods_image) { }}
            <div class="thumb">
                <img src="{{v.goods_image}}" />
            </div>
            {{# } }}
            <div class="orderinfo">
                <div class="title">{{v.goods_title}}</div>
                <div class="subtitle">{{v.goods_subtitle}}</div>
            </div>
        </div>
        {{# }) }}
    </div>
</script>
<!-- 单价、数量 -->
<script type="text/html" id="unitprice">
    <div class="unitprice-wrap">
        {{# d.goods_list.forEach(function(v) { }}
        <div class="unitprice">
            <div class="price">{{v.unitprice}}</div>
            <div class="num">x{{v.num}}</div>
        </div>
        {{# }) }}
    </div>
</script>
<!-- 订单状态 -->
<script type="text/html" id="table-status">
    <div style="padding: 0 6px;">
        {{# if(d.order_status == 2) { }}
        <span class="layui-btn layui-btn-xs">已支付</span>
        {{# } else if(d.order_status == 3) { }}
        <span class="layui-btn layui-btn-xs layui-bg-orange">已取消</span>
        {{# } else { }}
        <span class="layui-btn layui-btn-xs layui-bg-blue">待支付</span>
        {{# } }}
    </div>
</script>
<!-- 购买人信息 -->
<script type="text/html" id="table-memberinfo">
    <div class="memberinfo">
        <div class="nickname">{{d.nickname}}</div>
        <div class="mobile">{{d.mobile}}</div>
    </div>
</script>
<!-- 操作 -->
<script type="text/html" id="table-tool">
    <div class="layui-btn-list">
        <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    </div>
</script>
<script>
    layui.config({ base: '/static/admin/' }).use(['table', 'form', 'laydate'], function(){
        var $ = layui.$ 
        , table = layui.table
        , pageTable
        , form = layui.form
        , laydate = layui.laydate
        , active = {
            cols: [
                [{
                    type: "numbers",
                    title: "#",
                    width: 60
                }, {
                    title: "订单信息",
                    width: 260,
                    templet: '#orderinfo'
                }, {
                    title: "单价/数量",
                    width: 120,
                    templet: '#unitprice'
                }, {
                    title: "订单号",
                    field: 'out_trade_no',
                    width: 180
                }, {
                    field: "order_type_name",
                    title: "订单类型",
                    width: 100
                }, {
                    field: "pay_money",
                    title: "实付金额",
                    width: 100
                }, {
                    title: "订单状态",
                    width: 100,
                    templet: '#table-status'
                }, {
                    title: "购买人",
                    width: 160,
                    templet: '#table-memberinfo'
                }, {
                    field: "create_time",
                    title: "下单时间",
                    width: 160
                }, {
                    field: "order_remark",
                    title: "补充说明",
                    minWidth: 320
                }, {
                    title: "操作",
                    width: 150,
                    fixed: 'right',
                    toolbar: "#table-tool"
                }]
            ],
            render() {
                pageTable = table.render({
                    elem: "#LAY-list-table",
                    url: location.href + '?_=' + (new Date()).getTime(),
                    toolbar: '#table-toolbar',
                    cols: active.cols,
                    response: { msgName: 'message' },
                    page: !0,
                    limit: 10,
                    limits: [10, 50, 100, 200],
                    height: "full-220",
                    lineStyle: 'height: 70px;',
                    skin: 'line',
                    size: 'lg',
                    text: { none: "无数据" },
                    parseData: function(res) {
                        return {
                            code: res.code,
                            msg: res.message,
                            count: res.data.count,
                            data: res.data.list
                        }
                    },
                    done: function() {
                        ns.page = this.page.curr;
                    }
                }),

                table.on('toolbar(LAY-list-table)', function(o) {
                    active[o.event] ? active[o.event].call(this, o) : '';
                }),

                table.on("tool(LAY-list-table)", function(e) {
                    active[e.event] ? active[e.event].call(this, e) : '';
                }),

                table.on("pagebar(LAY-list-table)", function(e) {
                    console.log(e);
                })
            },
            refresh(o) {
                var othis = $(this).find('div'), anim = othis.data('anim');
                if (!othis.hasClass(anim)) {
                    othis.removeClass(anim);
                    othis.addClass(anim);
                    setTimeout(() => {
                        pageTable.reload(),
                        othis.removeClass(anim)
                    }, 1300)
                }
            },
            detail(e) {
                ns.open("{:url('statOrderDetail')}?order_id=" + e.data.order_id, false, [ '1000px', '100%' ], 2, 'r').then(() => {
                    pageTable.reload()
                })
            }
        };

        form.on('submit(LAY-btn-search)', function(data){
            var field = data.field;
            table.reload('LAY-list-table', { 
                where: field,
                page: { curr: 1 }
            });
            return false;
        }),

        form.on('submit(LAY-btn-reset)', function(data){
            console.log('reset');
            var field = data.field;
            table.reload('LAY-list-table', { 
                where: {},
                page: { curr: 1 }
            });
        }),

        laydate.render({
            elem: "#create_time",
            type: "date",
            range: true,
        }),

        window.addEventListener("load", function() {
            active.render()
        });
    })
</script>
{/block}