html,body {
  height: 100%;
}
.layui-layout-body {
  overflow: auto;
  min-height: 100%;
}
.layui-layout-body > .layui-body {
  left: 0px;
}
.layui-side-menu .layui-nav,
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-side {
  width: 100px;
}
.layadmin-side-shrink .layui-side {
  width: 60px;
}
.layui-side-menu .layui-side-scroll {
  width: 120px;
}
.layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
  left: 100px;
}
.layui-side-menu .layui-nav .layui-nav-item a {
  padding-right: unset;
  padding-left: 40px;
}
.layui-side-menu .layui-nav .layui-nav-item .layui-icon {
  left: 20px;
  font-size: 16px;
}
.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item .layui-icon {
  left: 20px;
}
.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item .layui-icon + cite {
  display: none;
}
.layadmin-side-shrink .layui-side-menu .layui-nav-item>a {
  padding-left: 0px;
}
.layui-side.second-nav {
  width: 120px;
  padding-top: 15px;
  background-color: white;
}
.layui-side.second-nav .layui-side-scroll,
.layui-side.second-nav .layui-nav.layui-nav-tree {
  width: 120px;
}
.layui-side.second-nav .layui-nav-itemed>a, 
.layui-side.second-nav .layui-nav-title a, 
.layui-side.second-nav .layui-nav-title a:hover {
  color: #333!important;
}
.layui-side.second-nav .layui-nav-tree,
.layui-side.second-nav .layui-nav-itemed>.layui-nav-child {
  background-color: unset!important;
}
.layui-side.second-nav .layui-nav-item a {
  color: #333;
  height: 36px;
  line-height: 36px;
  padding: 3px 12px;
}
.layui-side.second-nav .layui-nav-item.layui-this,
.layui-side.second-nav .layui-nav-item.layui-this dd.layui-this,
.layui-side.second-nav .layui-nav-item.layui-this a {
  color: #333;
  background-color: transparent!important;
}
.layui-side.second-nav .layui-nav-item a span {
  display: block;
  padding-left: 12px;
}
.layui-side.second-nav .layui-nav-item.layui-this > a.layui-menu-tips span,
.layui-side.second-nav .layui-nav-item.layui-this dd.layui-this a:active span,
.layui-side.second-nav .layui-nav-item.layui-this dd.layui-this span {
  color: #333;
  background-color: #00968817 !important;
}
.layui-side.second-nav + .layui-body {
  left: 120px;
  position: absolute;
  overflow: auto;
}
.layui-table-body::-webkit-scrollbar,
.layui-layout-body .layui-body::-webkit-scrollbar {
  width : 10px;
  height: 10px;
}
.layui-table-body::-webkit-scrollbar-thumb,
.layui-layout-body .layui-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a0a0a0;
}
.layui-table-body::-webkit-scrollbar-track,
.layui-layout-body .layui-body::-webkit-scrollbar-track {
  background: #e0e0e0;
}
.layui-body .layui-content {
  padding: 15px;
  height: calc(100% - 30px);
}
.layui-body .layui-content .layui-card.layui-card-full {
  height: 100%;
}
.layui-body .layui-content .layui-card.layui-card-full .layui-card-body {
  height: 100%;
}
.layadmin-side-shrink .layui-side-menu .layui-nav-item cite, 
.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child, 
.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>a .layui-nav-more {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  width: 1rem;
  height: 1rem;
  line-height: 1.3rem;
  white-space: break-spaces;
}
.layadmin-side-spread-sm .layadmin-pagetabs, 
.layadmin-side-spread-sm .layui-layout-admin .layui-body, 
.layadmin-side-spread-sm .layui-layout-admin .layui-footer, 
.layadmin-side-spread-sm .layui-layout-admin .layui-layout-left {
  left: 100px;
  transform: unset;
  -webkit-transform: unset;
}
.layui-side-menu .layui-nav .layui-nav-item a {
  height: 38px;
  line-height: 38px;
}
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, 
.layui-nav-tree .layui-nav-child dd.layui-this, 
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-side-menu .layui-nav .layui-nav-item a:hover {
  background-color: #00968817 !important;
}
.layui-card-header .btn-group .layui-btn {
  padding-left: 2.3rem!important;
  position: relative;
}
.layui-card-header .btn-group .layui-icon {
  left: 10px;
  top: 43%!important;
  right: unset!important;
}
.layuiadmin-card-list p.layuiadmin-big-font {
  font-size: 1.2rem!important;
}
.layui-icon-components {
  clear: both;
}
.layui-icon-components i.layui-icon {
  font-size: 1.6rem;
  display: block;
  margin-bottom: .16rem;
}
.layui-icon-components dd {
  display: inline-block;
  width: 20%;
  font-size: .8em;
  min-width: 70px;
  text-align: center;
  float: left;
  padding: .6rem 0;
}
.layui-icon-components dd cite {
  font-size: .7rem;
}
.layui-icon-components dd:hover {
  background-color: #f0f0f0;
}
.layui-icon-components dd:hover a {
  color: #333;
}
.layui-icon-components::after {
  content: ' ';
  display: block;
  clear: both;
}
.layui-form-filter {
  padding: 12px!important;
  background-color: #f7f7f7;
  border-bottom: 0px;
  margin-bottom: 6px;
}
.layui-form-filter + .layui-table-view {
  border-radius: 3px;
}
.layui-form-filter .layui-inline {
  margin-bottom: 0px!important;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px!important;
}
::-webkit-scrollbar-track-piece {
  background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px!important;
  background-color: #999!important;
}

.layui-input, .layui-select {
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}
.image-uploader > .inner {
  height: 3rem;
}
.image-uploader .item {
  width: 3rem;
  height: 3rem;
  position: relative;
  text-align: center;
  line-height: 3rem;
  background-color: #e7e7e7;
  border-radius: 6px;
  font-size: 1rem;
  border: 1px solid #eee;
  display: inline-block;
}
.image-uploader .item .layui-icon {
  font-size: 18px;
}
.image-uploader .item img {
  max-width: 100%;
  max-height: 100%;
}
.image-uploader .operation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0,0,0,.3);
}
.layui-card-body {
  padding: 20px!important;
}
.layui-form-label {
  padding: 6.5px 14px;
}
.layui-form-label.must::after {
  content: "*";
  color: red;
  position: absolute;
  right: 10px;
}
.layui-input-block {
  min-height: 32px;
}
.layui-input, .layui-select {
  height: 32px;
  line-height: 32px;
}

.layui-table-body {
  /* overflow-y: scroll!important; */
}
.layui-table-header th:last-child {
  padding-right: 7px!important;
}
.layui-table-fixed.layui-table-fixed-r {
  right: -1px!important;
}

.layui-table-click,.layui-table-hover,.layui-table[lay-even] tbody tr:nth-child(even) {
	background-color: #d4dbec!important;
}

.layui-table-header, .layui-table-header th {
  background-color: #d4d8e1!important;
}

.layui-form-mx .layui-input-wrap .layui-input {
  padding-right: 0px;
}
.layui-form-mx .layui-form-item .layui-inline {
  margin-right: 0px;
}
.layui-form-mx .layui-form-item {
  margin-bottom: 5px!important;
}
.layui-side .layui-logo {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.layui-table-tool-panel {
	margin-top: 10px !important;
}

.layui-table-tool {
	background-color: white !important;
	border-bottom: none !important;
	padding-bottom: 10px !important;
}

.layui-table-header, .layui-table-header th {
  background-color: #d4d8e1!important;
}

.layui-table-view {
	border-color: transparent!important;
}

.layui-table-cell {
	height: 34px;
	line-height: 34px;
}

.layui-table .layui-laypage .layui-laypage-curr .layui-laypage-em {
	border-radius: 50px !important;
	background-color: #5FB878 !important;
}

.layui-table-view .layui-table{
	width: 100%;
}

.layui-table tr {
	height: 34px;
	line-height: 34px;
}

.layui-table-cell {
	padding-top: 1px !important;
}

.layui-table-box * {
	font-size: 13px;
}

.layui-table-page .layui-laypage input {
    width: 40px;
    height: 26.5px!important;
}

.layui-table-box button {
	font-size: 15px !important;
}

.layui-table-page {
	height: 45px !important;
	padding-top: 10px !important;
}

.layui-table-tool .layui-inline {
	border-radius: 3px !important;
	width: 30px !important;
	height: 30px !important;
	line-height: 20px !important;
}

.layui-table-view .layui-table[lay-skin=line] {
	border: none !important;
}
.layui-table-body::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.layui-table-body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.layui-table-body::-webkit-scrollbar-track {
	background: white;
	border-radius: 2px;
}

.layui-table-body::-webkit-scrollbar-thumb {
	background: #E6E6E6;
	border-radius: 2px;
}

.layui-table-body::-webkit-scrollbar-thumb:hover {
	background: #E6E6E6;
}

.layui-table-body::-webkit-scrollbar-corner {
	background: #f6f6f6;
}

.layui-layout-body > .layui-card {
  margin-bottom: 0px;
}

.layui-btn-danger {
  background-color: #e61e38;
}

.layui-btn-list {
  font-size: 0%;
}
.layui-btn-list .layui-btn {
  margin: 0px 0.6px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  color: #16baaa;
}
.layui-btn-list .layui-btn.layui-btn-danger {
  color: #e61e38;
}
.layui-layer-title {
  border-bottom: unset;
  font-size: 1rem;
  color: #000;
}
.layui-layer-content {
  width: 100%;
  overflow: hidden;
}
.layui-layer-prompt .layui-layer-input {
  margin: unset;
}

@media screen and (min-width:768px) {
  .layui-header .layui-layout-right {
    padding-right: .6rem;
  }
  .layui-input-block.len-long {
    width: 460px;
  }
}

@media screen and (min-width: 992px) {
  .layui-col-md375 {
    width: 37.5%;
  }
  .layui-col-md625 {
    width: 62.5%;
  }
  .layui-input-block.len-long {
    width: 570px;
  }
}
@media screen and (max-width: 992px) {
  .layui-layout-admin .layui-side {
    transform: unset;
    -webkit-transform: unset;
    width: 100px;
  }
}
@media screen and (max-width: 576px) {
  .layui-layout-admin .layui-side {
    transform: translate3d(-100px,0,0);
    -webkit-transform: translate3d(-100px,0,0);
    width: 100px;
  }
  .layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
    left: 0px;
  }

  .layadmin-side-spread-sm .layui-layout-admin .layui-layout-right {
    transform: translate3d(100px,0,0);
    -webkit-transform: translate3d(100px,0,0)
  }

  .layadmin-side-spread-sm .layui-side {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0)
  }

  .layadmin-side-spread-sm .layadmin-pagetabs,.layadmin-side-spread-sm .layui-layout-admin .layui-body,.layadmin-side-spread-sm .layui-layout-admin .layui-footer,.layadmin-side-spread-sm .layui-layout-admin .layui-layout-left {
    left: 0;
    transform: translate3d(100px,0,0);
    -webkit-transform: translate3d(100px,0,0)
  }
  .layui-side.second-nav {
    position: unset;
    width: unset;
    overflow-x: unset;
  }
  .layui-side.second-nav .layui-side-scroll,
  .layui-side.second-nav .layui-side-scroll ul.layui-nav {
    width: unset;
    overflow-x: unset;
  }
  .layui-side.second-nav .layui-side-scroll ul.layui-nav {
    padding: 0 1rem;
    margin-bottom: 2.4rem;
  }
  .layui-side.second-nav .layui-nav-item {
    display: inline-block;
  }
  .layui-side.second-nav .layui-side-scroll ul.layui-nav > .layui-nav-item {
    width: 96px;
    position: unset;
  }
  .layui-side.second-nav .layui-side-scroll ul.layui-nav .layui-nav-child {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    padding: 0 1rem;
    z-index: 9;
    min-width: unset;
    border-radius: unset;
    height: 42px;
    background-color: #e7e7e7 !important;
  }
  .layui-side.second-nav .layui-side-scroll ul.layui-nav .layui-nav-child dd {
    width: 96px;
    text-align: center;
    display: inline-block;
  }
  .layui-side.second-nav .layui-side-scroll ul.layui-nav .layui-nav-child dd.layui-this span {
    padding-left: 0px;
    color: #16b777;
    background-color: unset!important;
    border-bottom: 1px solid #16b777;
  }
  .layui-side.second-nav .layui-nav-item a {
    width: 96px;
    padding: 3px 0px;
  }
  .layui-side.second-nav + .layui-body {
    left: unset;
    position: unset;
  }
}

.mt {
  margin-top: .6rem;
}
.text-button {
  color: #007fe7;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.layui-content .layui-card-header {
  padding: 20px 30px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layui-content .layui-card-header .card-title {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding-left: 10px;
}
.layui-content .layui-card-header .card-title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 14px;
  background-color: #16b777;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 5px;
  transform: translateY(-50%);
}
.layui-content .layui-form-mid {
  padding: 6px 0 !important;
  font-size: 13px;
}